<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
   
    <div id="app">
  
      <nav class="navbar fixed-top navbar navbar-dark bg-dark">
        <div class="container">
          <a  class="navbar-brand"  href="#">LilloAPP2</a>
        </div>
      </nav>

      <div class="container">
          <div class="row">
              <form class="col-md-12">
               
               <!--PRODUCTOS-->
               
                <select v-model="form.producto" class="custom-select mt-2">
                  <option v-for="producto in opcionesproducto" v-bind:value="producto.value">
                    {{producto.text}}
                  </option>
                </select>

                <template v-if="form.producto === 'Fajita'">
                  
                <div class="col-md-12 mt-2">
                  <div class="form-check  form-check-inline">
                    <input class="form-check-input" type="checkbox" value="Cerdo" v-model="form.ingredienteproducto" id="defaultCheck">
                    <label class="form-check-label" for="defaultCheck1">Cerdo</label>
                  </div>
                    <div class="form-check  form-check-inline">
                      <input class="form-check-input" type="checkbox" value="Carne" v-model="form.ingredienteproducto" id="defaultCheck">
                      <label class="form-check-label" for="defaultCheck1">Carne</label>
                    </div>

                    <div class="form-check  form-check-inline">
                      <input class="form-check-input" type="checkbox" value="Atun" v-model="form.ingredienteproducto" id="defaultCheck3">
                      <label class="form-check-label" for="defaultCheck3">Atun</label>
                    </div>

                    <div class="form-check  form-check-inline">
                      <input class="form-check-input" type="checkbox" value="Pollo" v-model="form.ingredienteproducto" id="defaultCheck2">
                      <label class="form-check-label" for="defaultCheck2">Pollo</label>
                    </div>

                </div>
              </template>

                <!--FIN PRODUCTOS-->

                <!--BEBIDAS -->
                <select v-model="form.bebida" class="custom-select mt-2">
                  <option v-for="bebida in opcionesbebida" v-bind:value="bebida.value">
                    {{bebida.text}}
                  </option>
                </select>

                <template v-if="form.bebida === 'Jugo'">
                  <div class="col-md-12 mt-2">
                      <div class="form-check  form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Tamarindo" v-model="form.listabebidas" id="defaultCheck">
                        <label class="form-check-label" for="defaultCheck1">Tamarindo</label>
                      </div>

                      <div class="form-check  form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Naranja" v-model="form.listabebidas" id="defaultCheck">
                        <label class="form-check-label" for="defaultCheck1">Naranja</label>
                      </div>

                      <div class="form-check  form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Papaya" v-model="form.listabebidas" id="defaultCheck3">
                        <label class="form-check-label" for="defaultCheck3">Papaya</label>
                      </div>

                      <div class="form-check  form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Tutifrutti" v-model="form.listabebidas" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">Tutifrutti</label>
                      </div>
                    </div>
                </template>

                <template v-if="form.bebida === 'Te'">
                  <div class="col-md-12 mt-2">
                      <div class="form-check  form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Te Verde" v-model="form.listabebidas" id="defaultCheck">
                        <label class="form-check-label" for="defaultCheck1">Te Verde</label>
                      </div>

                      <div class="form-check  form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Te azul" v-model="form.listabebidas" id="defaultCheck">
                        <label class="form-check-label" for="defaultCheck1">Te Azul</label>
                      </div>

                      <div class="form-check  form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Te Naranjo" v-model="form.listabebidas" id="defaultCheck3">
                        <label class="form-check-label" for="defaultCheck3">Te Naranjo</label>
                      </div>

                      <div class="form-check  form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Te de Marihuana" v-model="form.listabebidas" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">Te de Marihuana</label>
                      </div>
                    </div>
                </template>




                <!--FIN BEBIDAS-->







              </form>

              <pre class="mt-4 black">
                {{form.producto}} - {{form.ingredienteproducto}}
                <br/>
                {{form.bebida}} - {{form.listabebidas}}

              </pre>
          </div>
      </div>

  
    </div>

    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  
  </body>
</html>